@import '../../../styles/variables.scss';

.wrapper {
  margin   : 0 auto;
  position : relative;

  .field {
    width            : 100%;
    height           : 60px;
    padding          : 28px $space-md $space-sm;
    font-size        : 18px;
    font-weight      : $default-font-weight;
    line-height      : $space-xl;
    background-color : $background-color;
    border-radius    : $border-radius;
    border           : none;
  }

  .label {
    position      : absolute;
    top           : $space-sm;
    left          : $space-md;
    margin-bottom : 4px;
    font-size     : $space-lg;
    font-weight   : 600;
    line-height   : 16px;
    color         : $primary-button-color;
  }

  .errorMessage {
    font-size   : 12px;
    font-weight : $default-font-weight;
    line-height : $space-xl;
    color       : $red-color;
  }

  .fieldWithError {
    border           : 2px solid $red-color;
    background-color : $white-color;
  }

  .disabledLabel,
  .disabledField {
    color: #778191;
  }
}
