@import '../../../styles/variables.scss';

.block {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  max-width      : $content-container;
  margin         : $space-xxl auto;

  .title {
    font-size     : $space-xl;
    font-weight   : 600;
    line-height   : 32px;
    margin-bottom : $space-lg;
    text-align    : center;
    color         : $black-color;
  }
}
