@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.button {
  width            : 100%;
  padding          : $space-lg 0;
  font-weight      : normal;
  font-size        : 18px;
  font-weight      : 600;
  line-height      : $space-xl;
  text-align       : center;
  background-color : $primary-button-color;
  color            : $white-color;
  border-radius    : $space-md;
  border           : none;
  box-shadow       : $box-shadow;
  letter-spacing   : 0.36px;

  &:active {
    background-color: $hover-button-color;
  }

  @include onDesktop {
    &:hover {
      background-color: $hover-button-color;
    }
  }
}

.isDisabled {
  color            : $disabled-button-color;
  background-color : $white-color;
  border           : 1px solid #e4e7eb;
  pointer-events   : none;

  @include onDesktop {
    &:hover {
      color            : $disabled-button-color;
      background-color : $white-color;
    }
  }
}
