@import '../../../styles/variables.scss';

.card {
  display        : flex;
  flex-direction : column;
  width          : 100%;
  border         : 1px solid #00000014;
  border-radius  : $border-radius;
  box-shadow     : $box-shadow;
}
