@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/placeholders.scss';

.header {
  max-width : $content-container;
  margin    : 15px auto 0;

  .nav {
    @extend %flex-box;
    justify-content : space-between;
    height          : 40px;

    @include onDesktop {
      padding: 36px 40px;
    }

    .app {
      font-size   : 18px;
      font-weight : bold;
      cursor      : pointer;
    }

    .back {
      @extend %flex-box;
      border-radius : $border-radius;
      cursor        : pointer;

      &:active {
        background-color: $background-color;
      }
    }

    .menu {
      cursor: pointer;
    }
  }
}