@import '../../../styles/variables.scss';

.wrapper {
  position : relative;
  height   : calc(100vh - 100px);

  img {
    width      : 100%;
    height     : auto;
    margin-top : 8px;
  }

  .button {
    max-width  : $content-container;
    margin-top : $space-xl;
    width      : 100%;
  }
}
