.option {
  display     : flex;
  align-items : center;

  &:not(:last-child) {
    border-bottom: 1px solid #DFE5EF;
  }

  .progressIndicator {
    padding-left : $space-md;
    position     : relative;

    .progressBar {
      position : relative;
      width    : $space-xl;
      height   : $space-xl;
      top      : $space-sm;
    }
  }

  .text {
    padding     : $space-md;
    font-size   : 16px;
    font-weight : 500;
    line-height : 24px;
  }
}

.progressBar {
  margin: $space-sm 0 $space-xl;
}
