@import '../../../../styles/placeholders.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.result {
  display : flex;
  padding : $space-md;

  &:not(:last-child) {
    @extend %list-item;
  }

  .percentage {
    @include percentageStyle();
    padding-left : $space-md;
    line-height  : 40px;
  }

  .text {
    @extend %flex-box;
    justify-content : start;
    padding-left    : $space-md;
    font-weight     : 600;
  }
}