$header-min-height: 40px;
$header-padding-bottom: 48px;
$header-big-height: 72px;
$page-container: 2000px;
$content-container: 500px;
$border-radius: 8px;
$box-shadow: 0px 2px 6px -2px #1d29343d;

$primary-button-color: #0062f5;
$hover-button-color: #0152cc;
$disabled-button-color: #a7a7a7;
$primary-text-color: #222b38;
$background-color: #f1f5fb;
$white-color: #fff;
$black-color: #000;
$red-color: #f00;

$space-sm: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 24px;
$space-xxl: 48px;

$default-font-weight: 500;
