@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.wrapper {
  position : relative;
  height   : calc(100vh - 105px);

  .form {
    width: 100%;

    .button {
      position   : absolute;
      bottom     : $space-xl;
      max-width  : $content-container;
      margin-top : $space-xl;
      width      : 100%;

      @include onTablet {
        position: static;
      }

      @media (max-height: 400px) {
        position: static;
      }
    }
  }
}
